


.side-bar {
    width: 200px;

}


.main{
    padding-left: 0 !important; /* Force remove padding */
    margin-left: 400px !important; /* Align with sidebar */
}



/* Responsive adjustments */
@media (max-width: 960px) {
    .side-bar {
        width: 180px;
    }
    .main {
        margin-left: calc(180px + 20px);
    }
}
